<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977574817913-vn855v88uhecq56t2185e2ck2epm9vlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977574817913-vn855v88uhecq56t2185e2ck2epm9vlj</string>
	<key>API_KEY</key>
	<string>AIzaSyAcgoroM-BTL65iZEqfN_XFKBXOzXm4sTg</string>
	<key>GCM_SENDER_ID</key>
	<string>977574817913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-carloscardonam1.Arqca</string>
	<key>PROJECT_ID</key>
	<string>arqca2-4cfd0</string>
	<key>STORAGE_BUCKET</key>
	<string>arqca2-4cfd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977574817913:ios:dfb20661ede3d50d7ca4a8</string>
	<key>DATABASE_URL</key>
	<string>https://arqca2-4cfd0.firebaseio.com</string>
</dict>
</plist>